{% extends "base_template.html" %}
{% load static %}
{% block main_content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
             <div class="container">

    <h1>Анализируемый период</h1>

    <div class="input-group" style="width: 95%">
      <div class="input-group-prepend">
        <span class="input-group-text">Диапазон дат</span>
      </div>

      <form action="" method="get" style="width: 100%">{% csrf_token %}

      <input name="start_date" style="width: 40% float:left" type="text" placeholder="Начальная дата" aria-label="First date" class="form-control start-date">
      <input name='end_date' style="width: 40% float: right" type="text" placeholder="Крайняя дата" aria-label="End date" class="form-control end-date">
      <input type="submit" value="выбрать"style=" float: right">

      </form>

      <form action="" method="post" style="width: 100%">
      {% csrf_token %}
      <input type="submit" name="Otchet" style=" float: right" value="Сформировать отчет">
      </form>

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} {% endif %}{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
  </div>
          </div>

        </div>
      </div><!-- /.container-fluid -->

    </section>


  <script src="{% static 'plugins/jquery/jquery.min.js'%}" crossorigin="anonymous"></script>

  <script src="{% static 'bootstrap.bundle.min.js'%}" crossorigin="anonymous"></script>
  <script src="{% static 'datepicker.js'%}"></script>
<!-- AdminLTE -->
    <script src="{% static 'dist/js/adminlte.js'%}"></script>
 <!-- Chartjs libraries -->
    <script src="{% static 'highcharts.js'%}"></script>
    <script src="{% static 'exporting.js'%}"></script>
    <script src="{% static 'export-data.js'%}"></script>

    <script>

    $(function() {
      var $startDate = $('.start-date');
      var $endDate = $('.end-date');

      $startDate.datepicker({
        autoHide: true,
      });
      $endDate.datepicker({
        autoHide: true,
        startDate: $startDate.datepicker('getDate'),
      });

      $startDate.on('change', function () {
        $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
      });
    });
  </script>

    <!--Level card -->
    <div class="col-auto">
      <div class="card card-outline card-info">
        <div class="card-header">
          <h3 class="card-title">Уровень масла</h3>
            <div class="card-tools">
      <!-- Collapse Button -->
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
    <!-- /.card-tools -->
        </div>
  <!-- /.card-header -->
  <div class="card-body" id="container">
  </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<!--Model card -->
    <div class="col-auto">
    <div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">Модель</h3>
    <div class="card-tools">
      <!-- Collapse Button -->
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
  </div>
    <!-- /.card-tools -->

  <!-- /.card-header -->
  <div class="card-body" id="container2"  >

  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<!--Diagram card -->
         <div class="row mb-2">
      <div class="col-sm-6">

        <div class="card card-outline card-info">
            <div class="card-header">
                <h3 class="card-title">Расход масла(%)</h3>
            <div class="card-tools">
      <!-- Collapse Button -->
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body" id="container3">

  </div>
    </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<!--Diagram card -->
          <div class="col-sm-6">
        <div class="card card-outline card-info">
            <div class="card-header">
                <h3 class="card-title">Долив масла(%)</h3>
            <div class="card-tools">
      <!-- Collapse Button -->
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body" id="container4">

  </div>
    </div>
  <!-- /.card-body -->
</div>
         </div>

<!-- /.card -->


<!--Chart card -->
    <div class="row mb-2">
      <div class="col-sm-6">
        <div class="card card-outline card-info" >
          <div class="card-header">
            <h3 class="card-title">Расход масла</h3>
              <div class="card-tools">
      <!-- Collapse Button -->
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
          </div>
      <!-- /.card-header -->
      <div class="card-body" id="container5">
      </div>
  <!-- /.card-body -->
    </div>
      </div>
<!-- /.card -->
      <!--Chart card -->
       <div class="col-sm-6">
    <div class="card card-outline card-info" >
  <div class="card-header">
    <h3 class="card-title">Долив масла</h3>
    <div class="card-tools">
      <!-- Collapse Button -->
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body" id="container6">
  </div>

  </div>
  <!-- /.card-body -->
</div>
    </div>
<!-- /.card -->

       <!--Speed card -->
     <div class="row mb-2">
         <div class="col-sm-6">
            <div class="card card-outline card-info" >
              <div class="card-header">
                <h3 class="card-title">Скорость утечки</h3>
                  <div class="card-tools">
      <!-- Collapse Button -->
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  </div>
    <!-- /.card-tools -->
              </div>
  <!-- /.card-header -->
            <div class="card-body" id="container7">
          </div>
  <!-- /.card-body -->
          </div>
         </div>
<!-- /.card -->

      <!--Speed period card -->
         <div class="col-sm-6">
            <div class="card card-outline card-info" >
              <div class="card-header">
                <h3 class="card-title">Средняя скорость утечек</h3>
                  <div class="card-tools">
      <!-- Collapse Button -->
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  </div>
    <!-- /.card-tools -->
              </div>
  <!-- /.card-header -->
            <div class="card-body" id="container8">
            </div>
  <!-- /.card-body -->
          </div>
         </div>
     </div>
<!-- /.card -->


<!--Hihgchart graf-->
      <script>
      _level1 = {{level1|safe}};
      _data1 = {{data1|safe}};
      _level2 = {{level2|safe}};
      _level3 = {{level3|safe}};
      _level4 = {{level4|safe}};



      Highcharts.chart('container', {
	    chart: {
                zoomType: 'x',


	    },
	    title: {text: '' },

	    xAxis: {
              categories: _data1,
              gridLineWidth: 0.3,
              tickInterval: 100,
              gridLineColor: 'black'

	    },
	    yAxis: {
              title: {
		    text: 'уровень, Л'
              },
              gridLineColor: 'black',
              gridLineWidth: 0.3

	    },
	    plotOptions: {
	    format: '{point.y:.1f}',
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[1]],
                            [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
      <!-- colors: ['#FF0000', '#50B432', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'], -->
      series: [{
              name: 'Станок №1',
              data: _level1

	          },
	          {
	          name:'Станок №2',
	          data:_level2
	          },
	          {
	          name:'Станок №3',
	          data:_level3
	          },
	          {
	          name:'Станок №4',
	          data:_level4
	          }],
	    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
           }]
        }
      });
      </script>
<!--model-->
      <script>
      _model1 = {{model1|safe}};
      _model2={{model2|safe}};
      _model3={{model3|safe}};
      _model4={{model4|safe}};
      _data1 = {{data1|safe}};

      Highcharts.chart('container2', {
	    chart: {
                zoomType: 'x',


	    },
	    title: {
              text: ''
	    },

	    xAxis: {
              categories: _data1,
              gridLineWidth: 0.3,
              tickInterval: 100,
              gridLineColor: 'black',


	    },
	    yAxis: {
              title: {
		    text: 'уровень, Л'
              },
              gridLineWidth: 0.3,

              gridLineColor: 'black',
	    },
	    plotOptions: {
	            format: '{point.y:.1f}',
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[1]],
                            [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

      series: [{
              name: 'Станок №1',
              data: _model1
              },
              {
              name: 'Станок №2',
              data: _model2
               },
               {
              name: 'Станок №3',
              data: _model3
               },
               {
              name: 'Станок №4',
              data: _model4
               }
                	         ],
	    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
           }]
        }
      });


      </script>

 <!-- diagramms-->
    <script>
    _consumption = {{consumption_per|safe}};
    Highcharts.chart('container3', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
  tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
  accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
  title: {
              text: ''
	    },
  series: [{
    name: 'Расход',
    colorByPoint: true,
    data:[{
            name: 'Станок 1',
            y: _consumption[0],

        }, {
            name: 'Станок 2',
            y: _consumption[1],
        }, {
            name: 'Станок 3',
            y: _consumption[2],
        }, {
            name: 'Станок 4',
            y: _consumption[3],
        }]
    }]
    });
  </script>


    <script>
    _doliv = {{doliv_per|safe}};
    Highcharts.chart('container4', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
  accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
  title: {
              text: ''
	    },

  series: [{
    name: 'долив',
    colorByPoint: true,
    data:[{
            name: 'Станок 1',
            y: _doliv[0],

        }, {
            name: 'Станок 2',
            y: _doliv[1],
        }, {
            name: 'Станок 3',
            y: _doliv[2],
        }, {
            name: 'Станок 4',
            y: _doliv[3],
        }]
    }]
    });

  </script>
      <!--charts-->

    <script>
    _con = {{consumption|safe}};
    Highcharts.chart('container5', {
 chart: {
        type: 'column'
    },
    title: {
        text: ''
    },

    xAxis: {
            categories: [
             'станок 1',
             'станок 2',
             'станок 3',
             'станок 4'

            ],
        crosshair: true
    },

    yAxis: {
         title: {
            text: 'Утечки масла, литров'
        },

    },
    tooltip: {
        pointFormat: ' {series.name} утечка <b>{point.y:.,.2f}</b><br/>л '
    },


    plotOptions: {
        column: {

            dataLabels: {
                enabled: true,
                 format: '{point.y:.1f}', // one decimal
            }
        }
    },
    series: [{
        name: 'Предшествующий период',
        data: [_con[4], _con[5], _con[6], _con[7]],

    },{
        name: 'Текущий период',
        data: [_con[0], _con[1], _con[2], _con[3]],

    } ]
});
  </script>


    <script>
    _dol = {{doliv|safe}};
    _old={{old_dol|safe}};

    Highcharts.chart('container6', {
 chart: {
        type: 'column'
    },
    title: {
        text: ''
    },

    xAxis: {
            categories: [
             'станок 1',
             'станок 2',
             'станок 3',
             'станок 4'

            ],
        crosshair: true
    },
    yAxis: {

        title: {
            text: 'Долив масла, литров'
        }
    },

     plotOptions: {
        column: {

            dataLabels: {
                enabled: true,
                 format: '{point.y:.1f}', // one decimal
            }
        }
    },
    tooltip: {
        pointFormat: 'долив масла за {series.name}  <b>{point.y:.,.2f}</b><br/>л '
    },

    series: [{
        name: 'Предшествующий период',
        data: [_old[0], _old[1], _old[2], _old[3]],

    },{
        name: 'Текущий период',
        data: [_dol[0], _dol[1], _dol[2], _dol[3]],


    } ]
});
  </script>
<!--Speed-->

    <script>
    _speed1 = {{speed1|safe}};
    _speed2 = {{speed2|safe}};
    _speed3 = {{speed3|safe}};
    _speed4 = {{speed4|safe}};
    _data1 = {{data1|safe}};

    Highcharts.chart('container7', {
    chart: {
        zoomType: 'x',
    },

    title: {
        text: ''
    },

    xAxis: {
              categories: _data1,
              gridLineWidth: 0.3,
              tickInterval: 288,
              gridLineColor: 'black',


	    },
    yAxis: {
        title: {
            text: 'л/ч'
        },

    },
    tooltip: {
        pointFormat: '{series.name} утечка составляла <b>{point.y:.,.2f}</b><br/>л/час '
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Станок №1',
        data: _speed1
        },
         {
        name: 'Станок №2',
        data: _speed2
        },
        {
        name: 'Станок №3',
        data: _speed3
        },
        {
        name: 'Станок №4',
        data: _speed4
        },
    ]
    });
 </script>
    <!--Speed period-->


    <script>
    _speed = {{speed_mean|safe}};
    _sold={{speed_old|safe}};

    Highcharts.chart('container8', {
 chart: {
        type: 'bar'
    },
    title: {
        text: 'Средняя скорость утечек'
    },

    xAxis: {
            categories: [
             'станок 1',
             'станок 2',
             'станок 3',
             'станок 4'

            ],
        crosshair: true
    },
    yAxis: {

        title: {
            text: ''
        }
    },

    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    tooltip: {
        pointFormat: 'Скорость утечки за {series.name}  <b>{point.y:.,.2f}</b>л/час '
    },
    plotOptions: {
        bar: {

            dataLabels: {
                enabled: true,
                 format: '{point.y:.2f}', // one decimal
            }
        }
    },
    series: [{
        name: 'Предшествующий период',
        data: [_sold[0], _sold[1], _sold[2], _sold[3]],

    },{
        name: 'Текущий период',
        data: [_speed[0], _speed[1], _speed[2], _speed[3]],


    } ]
});


    </script>

  </div>
  </div>
{% endblock main_content%}